body {
	background-color: white;
	margin: 0px;
}

.navigation {
	background-color: pink;
	display: flex;
	justify-content: end;
	position: fixed;
	width: 100vw;
	overflow: hidden;
	top: 0px;
	z-index: 1;
}

.about-us {
	margin-top: 40px;
	padding: 10px;
	margin: auto;
	width: 600px;
	background-color: white;
}

h3 {
	margin-bottom: 30px;
	margin-top: -1px;
}

.group-img {
	width: 100%;
	margin: 2px;
}
.img-container1 {
	position: relative;
}

.caption {
	background-color: red;
	border: 0.5px solid black;
	color: white;
	padding: 4px;
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	opacity: 60%;
}

.img-container1:hover .caption {
	display: block;
}

.members-img img {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	text-align: center;
	margin-bottom: 5px;
}

.members-img {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
}

.first-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.nav-item {
	text-decoration: none;
	margin-inline: 8px;
	padding: 10px;
	color: white;
}
.nav-item:hover {
	background-color: white;
	color: rgba(187, 32, 36);
}

.product-container {
	padding: 20px 2px;
	box-sizing: border-box;
	margin: auto;
	width: 800px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 12px;
	column-gap: 10px;
}

.product-image {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-right: 2px;
}

.product-image img {
	height: 350px;
}

.promo-code {
	background-color: rgb(250, 150, 150);
	border: 1px solid rgba(187, 32, 36);
	margin-top: 34px;
	width: 300px;
	margin-left: 36px;
	text-align: center;
	padding: 10px;
	color: white;
}

.related-title {
	font-size: large;
	font-weight: 700;
	margin-bottom: 8px;
	text-align: left;
}

.second-row {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding-inline: 20px;
}

.related-product {
	box-sizing: border-box;
	background-color: antiquewhite;
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	position: relative;
}

.cars-img {
	width: 160px;
	height: 190px;
}

.related-product:hover {
	width: 100%;
}

.related-product-name {
	padding: 7px;
	font-size: 10px;
	text-align: center;
	background-color: rgb(223, 85, 142);
	color: black;
	border: 1px solid black;
	display: none;
	opacity: 60%;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

footer {
	background-color: pink ;
	text-align: center;
	padding: -2px;
	color: aliceblue;
	width: 100%;
}
.related-product:hover .related-product-name {
	display: block;
}
